<article class="swiper__container">
  <div class="swiper__container-header">
    <h1 class="swiper__container-header-headline">{{ title }}</h1>
  </div>

  <div
    class="swiper__container-swip"
    *ngIf="items.length > 0; else templateName"
  >
    <swiper
      [slidesPerView]="5"
      [scrollbar]="false"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
    >
      <ng-template swiperSlide *ngFor="let item of items">
        <div class="card">{{ item.label }}</div>
      </ng-template>
    </swiper>
  </div>
  <ng-template #templateName>
    <div class="swiper__container-empty">
      <span>Empty List</span>
    </div>
  </ng-template>
</article>
