.main__content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &-menu {
    grid-column: 1 / 3;
  }

  &-main {
    padding: 16px;
    grid-column: 3 / 13;
    overflow: scroll;
  }
}
