<section class="albums__component">
  <div class="albums__component-grid">
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
    <div class="albums__component-grid-item">
      <div class="albums__component-grid-item-image"></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">NAME</span>
        <span class="albums__component-grid-item-info-artist">ARTISTS </span>
      </div>
    </div>
  </div>
</section>
