<section class="albums__component">
  <div class="albums__component-grid">
    <div class="albums__component-grid-item" *ngFor="let item of albums">
      <div
        class="albums__component-grid-item-image"
        [ngStyle]="{ 'background-image': 'url(' + item.coverUrl + ')' }"
      ></div>
      <div class="albums__component-grid-item-info">
        <span class="albums__component-grid-item-info-title">{{
          item.title | uppercase
        }}</span>
        <span class="albums__component-grid-item-info-artist"
          >{{ item.artistId }}
        </span>
      </div>
    </div>
  </div>
</section>
